@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Projekt_zaliczeniowy_aspnet.Models.Entities.Student>   

<h1>Students List</h1>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Subscribed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Email</td>
                <td>@student.PhoneNumber</td>
                <td>@student.Address</td>
                <td>@student.IsRecievingUpdates</td>
                <td>
                    <a asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>